body {
    background-color: grey;
    display: flex;
    justify-content: center;
    box-sizing: 0;
    margin: 0;
    text-align: center;
}

#punisherContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}